
.bookmark-btn {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 10px;
    font-size: 14px;
    width:min-content;
    border:chartreuse;
    border-radius: 5px;
  
    cursor: pointer;
    background-color: #0da514;
    color: #fff;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .bookmark-btn.bookmarked {
    background-color: #047520;
  }


.bookmark-btn:hover {
  background-color: #1abc9c;
}
