
.category-filter {
    margin-bottom: 20px;
    display: flex;
    justify-content:left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-weight: bold;
  }
  
  .filter-select {
    padding: 10px;
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
  }
  